<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
        Spring提供的第一种实例化方式：
        在spring配置文件中直接配置类全路径，Spring会自动调用该类的无参数构造方法来实例化Bean
    -->
    <bean id="sb" class="cn.piggy.spring6.bean.SpringBean" />
</beans>