<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--开启mybatis日志-->
    <settings>
        <!--<setting name="logImpl" value="STDOUT_LOGGING"/>-->
        <setting name="logImpl" value="SLF4J"/>
    </settings>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://8.134.254.79:3306/powernode"/>
                <property name="username" value="test"/>
                <property name="password" value="Aa123456#."/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--sql映射文件创建好之后，需要将该文件路径配置到这里-->
        <!--resource属性：自动会从类路径下开始查找资源 -->
        <mapper resource="CarMapper.xml"/>
        <!--<mapper resource="com/CarMapper.xml"/>-->

        <!--url属性：从绝对路径下加载资源-->
        <!--<mapper url="file:///d:/CarMapper.xml"/>-->
    </mappers>
</configuration>