<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--
        第一种解决方法：
            use-default-filters="false"
            如果这个属性为false，表示bean2包下所有带有声明Bean的注解全部失效。
            （@Component,@Controller,@Service,@Repository全部失效）
    -->
    <!--<context:component-scan base-package="cn.piggy.spring6.bean2" use-default-filters="false">
        &lt;!&ndash;只有@Controller @Repository被包含进来生效&ndash;&gt;
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Repository"/>
    </context:component-scan>-->

    <!--
        第二种解决方法：
            use-default-filters="true"，默认为true，可不写
            如果这个属性为true，表示bean2包下所有带有声明Bean的注解全部生效。
    -->
    <context:component-scan base-package="cn.piggy.spring6.bean2">
        <!--不能将@Component排除出去，不然他衍生出的三个注解都无法生效，按需使用-->
        <!--<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Component"/>-->

        <!--只有@Service被排除出去 失效-->
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service"/>
    </context:component-scan>

</beans>